{% load static %}
{% include "admin/header.html" %}


<div class="main-panel">
    <div class="content-wrapper" style="width:100%;">

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p align="center" class="card-title">ASSIGNED TRAINERS</p>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="display expandable-table" style="width:100%">
                                        <thead>

                                        <th>Sl No.</th>
                                        <th>USER</th>
                                        <th>ASSIGNED TRAINER</th>
                                        <th>EDIT</th>


                                        </tr>

                                        </thead>
                                        <tbody>
                                        {% for i in assigned %}

                                        <tr>

                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ i.userid.name }}</td>
                                            <td>{{ i.trainerid.name }}</td>

                                            <td><a href="{% url 'reassignedit' id=i.userid.userid %}">
                                                <p>
                                                    <button style="text-decoration=none" class="btn btn-warning">Edit
                                                    </button>
                                                </p>
                                            </a></td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
    {% include "admin/footer.html" %}

