
  {% load static %}
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
              <li class="nav-item"> <a class="nav-link" href=" /admin/index"></a></li>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Registration</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=" /admin/districtreg">District</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/locationreg">Location</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/equipmentreg">Equipment</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/trainerreg">Trainer</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/categoryreg">Category</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/planreg">Plan</a></li>
              </ul>
            </div>
            </li>

             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-bsic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">View</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-bsic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=" /admin/districtview">District</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/locationview">Location</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/equipmentview">Equipment</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/categoryview">Category</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/planview">Plan</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/userview">User</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/trainerview">Trainer</a></li>
              </ul>
            </div>
            </li>









        </ul>
      </nav>