<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'guest/index/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'guest/index/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="guest/index.html">
                    <img src="{% static 'guest/index/img/logo.png" alt="">
                </a>
            </div>
            <div class="top-social">
                <a href="{% url 'profile'%}"><img src="/images/{{bu.userphoto}}" style="width:50px;height:50px;border-radius:50%;object-fit:cover;"></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index'%}">Home</a></li>
<li><a href="/user/equipmentview">Equipments</a></li>
                            <li><a href="/user/schedule">Schedule</a></li>
                            <li><a href="/user/workoutview">Workout</a></li>
                            <li><a href="/user/dietview">Diet</a></li>
                            <li><a href="/user/trainerview">Trainer</a></li>
                            <li><a href="{% url 'logout' %}">logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <!-- Header End -->
</body>
</html>