{% load static %}
{% include "user/header.html" %}

<section class="classtime-section class-time-table spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title"><br><br>
                    <h2>Time Slots</h2>
                </div>
            </div>
        </div>

        <div class="classtime-table">
            <table>
                <tbody>
                    <tr>
                        {% if tob %}
                        {% if mob %}
                        {% for m in mob %}
                    {% if m.status == "Confirmed" %}
                        <td colspan="2">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="section-title">
                                        <h2>SCHEDULED TIME</h2><br><br>
                                        <h2>{{m.timeid.time}}</h2>
                                        <h2>{{m.timeid.meredium}}</h2>
                                    </div>
                                </div>
                            </div>
                        </td>



                        {% else %}
                        <td colspan="2">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="section-title"><br><br>
                                        <h2>{{m.timeid.time}}</h2>
                                        <h2>{{m.timeid.meredium}}</h2>
                                         <button type="submit" disabled class="primary-btn price-btn" style="cursor: not-allowed;">Pending</button>
                                    </div>
                                </div>
                            </div>
                        </td>



                        {% endif %}
                        {% endfor %}
                        {% else %}

                        {% for t in ti %}
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <form method="post" action="{% url 'schedule' %}">
                                {% csrf_token %}
                                <a href="{% url 'schedule' %}">
                                    <span>{{ t.time }}</span>
                                    <h6>{{ t.meredium }}</h6>
                                </a>
                                <input type="hidden" name="timeid" value="{{ t.timeid }}">
                                <input type="hidden" name="userid" value="{{ bu.userid }}">
                                <input type="hidden" name="trainerid" value="{{ tob.trainerid.trainerid }}">
                                <button type="submit">Book</button>
                            </form>
                        </td>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                         <td colspan="2">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="section-title"><br><br>
                                        <h2>YOU NEED TO BE IN AN ACTIVE PLAN TO SCHEDULE TIME</h2>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% include "user/footer.html" %}

    <!-- Js Plugins -->
    <script src="{% static 'guest/index/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'guest/index/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'guest/index/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'guest/index/js/mixitup.min.js' %}"></script>
    <script src="{% static 'guest/index/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'guest/index/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'guest/index/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'guest/index/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'guest/index/js/main.js' %}"></script>
</body>

</html>
